<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./assets/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon.png">
</head>

<body>

<main>
    <header>
        <h1>Video Game Catalog</h1>
    </header>
    <p>
        With multiple new releases every week you don't want to miss the most anticipated upcoming games. This Video Game Catalog
        highlights all the top releases in gaming that are coming soon.
    </p>
    <h2>Recent Releases</h2>
    <div class="game-grid">
        {% for game in recent %}
            <div class="game">
                <div class="img-container">
                    <a href="https://opencritic.com/game/{{ game.id }}/{{ game.name.lower().replace(' ', '-') }}">
                        <img class="image" src="https://img.opencritic.com/{{ game.images.box.og }}">
                        <div class="score-overlay">{{ game.topCriticScore }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Upcoming Releases</h2>
    <div class="game-grid">
        {% for game in upcoming %}
            <div class="game">
                <div class="img-container">
                    <a href="https://opencritic.com/game/{{ game.id }}/{{ game.name.lower().replace(' ', '-') }}">
                        <img class="image" src="https://img.opencritic.com/{{ game.images.box.og }}">
                        <div class="date-overlay">{{ game.firstReleaseDate }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="top-games-header">
        <h1>LOOKS BETTER,<br>SOUNDS BETTER,<br><span class="xbox-green">PLAYS BETTER</span><br></h1>
        <p>
            Embark on new adventures the way they’re meant to be experienced, here are the best games of the past year.
        </p>
    </div>
    <div class="game-grid">
        {% for game in top_games %}
            <div class="game">
                <div class="img-container">
                    <a href="https://opencritic.com/game/{{ game.id }}/{{ game.name.lower().replace(' ', '-') }}">
                        <img class="image" src="https://img.opencritic.com/{{ game.images.box.og }}">
                        <div class="score-overlay">{{ game.topCriticScore }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer>
        <p>Created by David Manolitsas</p>
    </footer>
</main>
</body>

</html>
