<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

<main>
    <header>
        <h1>Video Game Catalog</h1>
    </header>
    <h2>Recent Releases</h2>
    <div class="game-grid">
        {% for game in recent %}
        <div class="game">
            <h3>{{ game.name }}</h3>
            <p class="date">{{ game.firstReleaseDate }}</p>
            <a href="https://opencritic.com/game/{{ game.id }}/{{ game.name.lower().replace(' ', '-') }}">
            <img src="https://img.opencritic.com/{{ game.images.box.og }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <h2>Upcoming Releases</h2>
    <div class="game-grid">
        {% for game in games %}
        <div class="game">
            <h3>{{ game.name }}</h3>
            <p class="date">{{ game.firstReleaseDate }}</p>
            <a href="https://opencritic.com/game/{{ game.id }}/{{ game.name.lower().replace(' ', '-') }}">
            <img src="https://img.opencritic.com/{{ game.images.box.og }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>Created by David Manolitsas</p>
    </footer>
</main>
</body>

</html>
