@font-face {
    font-family: "Segoe Pro Black";
    src: url("../assets/SegoePro-Black.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    background-color: #000;
}

main {
    color: #fff;
    max-width: 92%;
    margin: 0 auto;
    font-family: "Segoe", sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    font-family: "Segoe Pro Black", sans-serif;
}

h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

a {
    text-decoration: none;
}

.xbox-green {
    color: #9bf00b;
}

.game-grid {
    display: grid;
    justify-items: center;
    column-gap: 8px;
    row-gap: 64px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 128px;
}

.game {
    position: relative;
    min-width: 280px;
    max-width: 384px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, transparent 100%);
}

.game-link {
    color: #fff;
    height: 100%;
    background-color: #201f24;
    padding: 64px 16px;
}

.game-link h1 {
    margin: 0;
    font-size: 48px;
}

.game-link:hover {
    color: #9bf00b;
}

.score-overlay {
    position: absolute;
    top: 0;
    right: 0;
    color: #9bf00b;
    background: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-family: "Segoe Pro Black", sans-serif;
    padding: 16px;
    text-align: center;
}

.date-overlay {
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.40);
    font-size: 24px;
    font-family: "Segoe Pro Black", sans-serif;
    padding: 16px;
    text-align: center;
    width: 100%;
}

.games-header {
    margin-top: 128px;
}

/* horizontal scroll gallery*/
.hs {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    grid-gap: 8px;
}

.hs:before,
.hs:after {
    content: '';
    width: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


footer {
    margin: 192px 0 64px 0;
    text-align: center;
    opacity: 50%;
}

footer p {
    font-size: 16px;
}

@media screen and (max-width: 1225px) {
    .game-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 920px) {
    .game-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 620px) {
    .game-grid {
        grid-template-columns: 1fr;
    }
}
